pywin32==305
pyzmq==25.0.0
packaging==23.0
ipython==8.8.0
jupyter-client==7.4.9
ipykernel==6.20.2
tornado==6.2
psutil==5.9.4
traitlets==5.8.1
jupyter-core==5.1.4
decorator==5.1.1
prompt-toolkit==3.0.36
pygments==2.14.0
python-dateutil==2.8.2
platformdirs==2.6.2
asttokens==2.2.1
six==1.16.0
debugpy==1.6.6
nest-asyncio==1.5.6
executing==1.2.0
jedi==0.18.2
parso==0.8.3
pickleshare==0.7.5
stack-data==0.6.2
colorama==0.4.6
entrypoints==0.4
wcwidth==0.2.6
pure-eval==0.2.2
backcall==0.2.0
matplotlib-inline==0.1.6
comm==0.1.2
regex==2023.8.8
certifi==2023.7.22
pytz==2022.7.1
setuptools==65.5.0
pip==23.3.1
attrs==23.1.0
pillow==10.0.0
tenacity==8.2.3
click==8.1.6
plotly==5.16.1
tqdm==4.66.1
fonttools==4.42.0
typing-extensions==4.7.1
nltk==3.8.1
matplotlib==3.7.2
pyproj==3.6.0
idna==3.4
lightgbm==3.3.5
charset-normalizer==3.2.0
jinja2==3.1.2
openpyxl==3.1.2
threadpoolctl==3.1.0
pyparsing==3.0.9
requests==2.31.0
werkzeug==2.3.7
flask==2.3.3
markupsafe==2.1.3
itsdangerous==2.1.2
urllib3==2.0.4
greenlet==2.0.2
shapely==2.0.1
numpy==1.24.1
scipy==1.10.0
fiona==1.9.4.post1
wordcloud==1.9.2
blinker==1.6.2
pandas==1.5.3
yellowbrick==1.5
sqlalchemy==1.4.49
kiwisolver==1.4.4
scikit-learn==1.3.2
joblib==1.2.0
click-plugins==1.1.1
contourpy==1.1.0
et-xmlfile==1.1.0
langdetect==1.0.9
wheel==0.38.4
folium==0.14.0
statsmodels==0.14.0
geopandas==0.13.2
seaborn==0.12.2
cycler==0.11.0
imbalanced-learn==0.11.0
cligj==0.7.2
branca==0.6.0
patsy==0.5.3
boruta==0.3
pydataset==0.2.0
sklearn==0.0.post10
imblearn==0.0

